In [3]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

In [21]:
RC = 1/(2*3.14*40e3)
C1 = 33e-9
R1 = RC / C1
R2 = 400 * R1
C2 = RC / R2
System(C1=C1, R1=R1, C2=C2, R2=R2, R1C1 = R1*C1, R2C2 = R2*C2,gain=-R2/2/R1)

C1      3.300000e-08
R1      1.206331e+02
C2      8.250000e-11
R2      4.825323e+04
R1C1    3.980892e-06
R2C2    3.980892e-06
gain   -2.000000e+02
dtype: float64

In [31]:
C1 = 33e-9
R1 = 115
R2 = 4.99e3
C2 = 1/(1/150e-12 + 1/180e-12)
fr = 1 / (6.28*(R1*R2*C1*C2)**0.5)
Q=0.5*(R2/R1)**0.5
System(C1=C1, R1=R1, C2=C2, R2=R2, 
       R1C1 = R1*C1, R2C2 = R2*C2,
       gain=-R2/2/R1, Q=Q,
      fr=fr,BW=fr/Q)

C1      3.300000e-08
R1      1.150000e+02
C2      8.181818e-11
R2      4.990000e+03
R1C1    3.795000e-06
R2C2    4.082727e-07
gain   -2.169565e+01
Q       3.293604e+00
fr      1.279261e+05
BW      3.884078e+04
dtype: float64

In [25]:
C1 = 20e-6
R1 = 115
R2 = 1.273e6 
C2 = 0.1e-6
fr = 1 / (6.28*(R1*R2*C1*C2)**0.5)
Q=0.5*(R2/R1)**0.5
System(C1=C1, R1=R1, C2=C2, R2=R2, 
       R1C1 = R1*C1, R2C2 = R2*C2,
       gain=-R2/2/R1, Q=Q,
      fr=fr,BW=fr/Q)

C1      2.000000e-05
R1      1.150000e+02
C2      1.000000e-07
R2      1.273000e+06
R1C1    2.300000e-03
R2C2    1.273000e-01
gain   -5.534783e+03
Q       5.260600e+01
fr      9.305983e+00
BW      1.768996e-01
dtype: float64